# Environnements virtuels
venv/
.env/
__pycache__/
*.pyc
*.pyo

# Fichiers système
.DS_Store
Thumbs.db

# Données temporaires / cache
*.cache
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Fichiers générés
*.egg-info/
dist/
build/
